[Unit]
Description=IP Feedback on Boot
After=syslog.target network.target


[Service]
Type=simple
user=pi
WorkingDirectory=/home/pi/
ExecStart=/bin/bash /home/pi/pi5desk/utils/ip_feedback.sh

[Install]
WantedBy=multi-user.target
